.viewport                                                                       {
  padding: 5px;
  
  .field                                                                        {
    @include ellipsis(no-wrap);
    margin: 2px;
  }
  
  .column                                                                       {
    @include ellipsis(no-wrap);
    display:        inline-block;
    vertical-align: text-bottom;
  }
  
  .header                                                                       {
    select{
      width: 300px;
    }
    input{
      width: 300px;
    }
  }
  
  .panel                                                                        {
    display:        inline-flex;
    flex-direction: row;
    height:       170px;
    
    .block                                                                      {
      display:        inline-flex;
      flex-direction: column;
      width:          280px;
      border:         solid #000 1px;
      margin:         1px;
      
      .list                                                                     {
        height:       150px;
        overflow-y:   auto;
      }
    }
    
  }

  button                                                                        {
    margin:     2px;
  }
  
  button:disabled                                                               {
    border:     none;
    background: none;
  }
  
}
