/* 
    Created on : 28-Apr-2014, 19:14:16
    Author     : Cain
*/
html, body {
  display: block;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%; }

button:disabled {
  border: none;
  background: none; }
