html, body {
  display: block;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%; }

.viewport {
  padding: 5px; }
  .viewport .field {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin: 2px; }
  .viewport .column {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: text-bottom; }
  .viewport .header select {
    width: 300px; }
  .viewport .header input[type='text'] {
    width: 300px; }
  .viewport .panel {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 170px; }
    .viewport .panel .block {
      display: inline-flex;
      flex-direction: column;
      width: 200px;
      border: solid #000 1px;
      margin: 1px; }
      .viewport .panel .block .list {
        height: 150px;
        overflow-y: auto; }
        .viewport .panel .block .list .line {
          display: block;
          margin: 2px; }
          .viewport .panel .block .list .line .filter {
            width: 110px; }
  .viewport button.view, .viewport button.store, .viewport button.view {
    border-width: 1px;
    margin: 0px;
    padding: 0px; }
  .viewport button:disabled {
    border: none;
    background: none; }
  .viewport .blueprint .recipe {
    border: solid #000 1px; }
  .viewport .blueprint .ingredient select {
    background-color: rgba(0, 0, 255, 0.1); }
  .viewport .blueprint .ingredient > * {
    vertical-align: top; }
  .viewport .blueprint .agent select {
    background-color: rgba(0, 155, 0, 0.1); }
  .viewport .blueprint .agent > * {
    vertical-align: top; }
  .viewport .blueprint .item {
    display: inline-block; }
    .viewport .blueprint .item select {
      background-color: rgba(255, 0, 255, 0.1); }
