html, body {
  display: block;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 100%; }

.viewport {
  padding: 5px; }
  .viewport .field {
    white-space: nowrap;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin: 2px; }
  .viewport .column {
    display: inline-block; }
  .viewport .panel {
    display: inline-flex;
    flex-direction: row; }
    .viewport .panel .block {
      display: inline-flex;
      flex-direction: column;
      width: 200px;
      border: solid #000 1px;
      margin: 1px; }
      .viewport .panel .block .list {
        display: inline-flex;
        flex-direction: column;
        max-height: 150px;
        overflow-y: auto; }
  .viewport button {
    margin: 2px; }
  .viewport button:disabled {
    border: none;
    background: none; }
