<div class="recipe" data-ng-show="recipe">
    <div class="ingredients">
        <div>Ingredients:</div>
        <div data-ng-repeat="element in ingredients" data-blueprint-ingredient data-depth="depth" data-filter="element.filter" data-component="element.component"></div>
    </div>
    
    
    <div class="agents">
        <div>Agents:</div>
        <div data-ng-repeat="element in agents" data-blueprint-agent data-depth="depth" data-component="element.component"></div>
    </div>
</div>
