<div class="recipe" data-ng-show="element && element.id">
    <div>Skill: <a data-blueprints-recipe-skill data-id="recipe.skill"></a> Quality: {{result.quality}}</div>
    
    <div class="block blue">
        <div>Ingredients:</div>
        <div class="block ingredient" data-ng-repeat="ingredient in ingredients">
            <div class="block item" data-blueprints-recipe-ingredient data-ingredient="ingredient"></div>
        </div>
    </div>
    
    <div class="block green">
        <div>Agents:</div>
        <div class="block agent" data-ng-repeat="agent in agents">
            <div class="block item" data-blueprints-recipe-agent data-agent="agent"></div>
        </div>
    </div>
    
</div>
