<div class="items">
    <div class="header">
        <div class="field">Items: {{elements.length}}</div>
        <button class="store" data-ng-disabled="!selected" data-ng-click="store()">+</button>
        <select data-ng-model="selected" data-ng-options="element.name for element in elements"></select>
        <input data-ng-model="search" placeholder="filter" />
        <input id="CRAFTED" data-ng-model="crafted" type="checkbox"/>
        <label for="CRAFTED">Crafted</label>
        <input id="HARVESTED" data-ng-model="harvested" type="checkbox"/>
        <label for="HARVESTED">Harvested</label>
        <input id="OTHER" data-ng-model="other" type="checkbox"/>
        <label for="OTHER">Other</label>
    </div>
    <div style="height:65px">
        <div class="field">ID: {{selected.id}}</div>
        <div class="field">Name: {{selected.name}}
            (
            <span data-ng-repeat="id in selected.resultOf">
                <span class="field" data-item-recipe data-id="id"></span>
            </span>
            <span data-ng-repeat="id in selected.species">
                <span class="field" data-item-specie data-id="id"></span>
            </span>
            )
        </div>
        <div class="field">Description: {{selected.description}}</div>
    </div>
    <div class="panel">
        <div class="block">
            <div class="field">Used In: {{selected.usedIn.length}}</div>
            <div class="list">
                <div>
                    <div data-ng-repeat="id in selected.usedIn">
                        <div class="field" data-item-usedin data-id="id"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field">Components: {{selected.components.length}}</div>
            <div class="list">
                <div>
                    <div data-ng-repeat="id in selected.components">
                        <div class="field" data-item-component data-id="id"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field">Filters: {{selected.filters.length}}</div>
            <div class="list">
                <div>
                    <div data-ng-repeat="id in selected.filters">
                        <div class="field" data-item-filter data-id="id"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
