<div class="items">
    <div class="header">
        <div class="field">Items: {{items.length}}</div>
        <button data-ng-disabled="!model" data-ng-click="model.store()">+</button>
        <select data-ng-model="model" data-ng-options="item.name for item in items | orderBy:'name' | filter:{name:search}"></select>
        <input data-ng-model="search" placeholder="filter" />
        <input id="CRAFTED" data-ng-model="crafted" type="checkbox"/>
        <label for="CRAFTED">Crafted</label>
        <input id="HARVESTED" data-ng-model="harvested" type="checkbox"/>
        <label for="HARVESTED">Harvested</label>
        <input id="OTHER" data-ng-model="other" type="checkbox"/>
        <label for="OTHER">Other</label>
    </div>
    <div style="height:65px">
        <div class="field">ID: {{model.id}}</div>
        <div class="field">Name: {{model.name}}</div>
        <div class="field">Description: {{model.description}}</div>
    </div>
    <div class="panel">
        <div class="block">
            <div class="field">Result Of: {{model.resultOf.length}}</div>
            <div class="list">
                <div>
                    <div class="field" data-ng-repeat="item in model.resultOf | orderBy:'name'">
                        <button class="store" data-ng-click="item.store()">+</button>
                        <a href="javascript: void(0)" data-ng-click="item.view()">{{item.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field">Species: {{model.species.length}}</div>
            <div class="list">
                <div>
                    <div class="field" data-ng-repeat="item in model.species | orderBy:'name'">
                        <button class="store" data-ng-click="item.store()">+</button>
                        <a href="javascript: void(0)" data-ng-click="item.view()">{{item.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field">Used In: {{model.usedIn.length}}</div>
            <div class="list">
                <div>
                    <div class="field" data-ng-repeat="item in model.usedIn | orderBy:'name'">
                        <button class="store" data-ng-click="item.store()">+</button>
                        <a href="javascript: void(0)" data-ng-click="item.view()">{{item.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field">Components: {{model.components.length}}</div>
            <div class="list">
                <div>
                    <div class="field" data-ng-repeat="item in model.components | orderBy:'name'">
                        <button class="store" data-ng-click="item.store()">+</button>
                        <a href="javascript: void(0)" data-ng-click="item.view()">{{item.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field">Filters: {{model.filters.length}}</div>
            <div class="list">
                <div>
                    <div class="field" data-ng-repeat="item in model.filters | orderBy:'name'">
                        <button class="store" data-ng-click="item.store()">+</button>
                        <a href="javascript: void(0)" data-ng-click="item.view()">{{item.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
