<div class="recipes">
    <div class="header">
        <div class="field">Recipes: {{elements.length}}</div>
        <button class="store" class="store" data-ng-disabled="!selected" data-ng-click="store()">+</button>
        <select data-ng-model="selected" data-ng-options="element.name for element in elements"></select>
        <input data-ng-model="search" placeholder="filter" />
    </div>
    <div style="height:65px">
        <div class="field">ID: {{selected.id}}</div>
        <div class="field">Name: {{selected.name}} (<a data-recipe-skill data-id="selected.skill"></a>)</div>
        <div class="field">Description: {{selected.description}}</div>
    </div>
    <div class="panel">
        <div class="block">
            <div class="field">Ingredients: {{selected.ingredients.length}}</div>
            <div class="list">
                <div>
                    <div data-ng-repeat="ingredient in selected.ingredients">
                        <div class="field" data-recipe-ingredient data-id="ingredient.id"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field">Agents: {{selected.agents.length}}</div>
            <div class="list">
                <div>
                    <div data-ng-repeat="agent in selected.agents">
                        <div class="field" data-recipe-agent data-id="agent.id"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block" style="width: 750px">
            <div class="field">Results:</div>
            <div class="list">
                <div>
                    <div data-ng-repeat="result in selected.results">
                        <div class="line" data-recipe-result data-element="result"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
