<div class="recipes">
    <div class="header">
        <div class="field">Recipes: {{items.length}}</div>
        <button data-ng-disabled="!recipe" data-ng-click="recipe.store()">store</button>
        <select data-ng-model="recipe" data-ng-options="item.name for item in items | orderBy:'name' | filter:{name:search}"></select>
        <input data-ng-model="search" placeholder="filter" />
    </div>
    <div style="height:75px">
        <div class="field">ID: {{recipe.id}}</div>
        <div class="field">Description: {{recipe.description}}</div>
        <div class="field">Skill: {{recipe.skill.name}}<button data-ng-click="recipe.skill.view()">view</button></div>
    </div>
    <div class="panel">
        <div class="block">
            <div class="field">Ingredients: {{recipe.ingredients.length}}</div>
            <div class="list">
                <div>
                    <div class="field" data-ng-repeat="item in recipe.ingredients | orderBy:'name'">
                        <button data-ng-click="item.view()">view</button>
                        <button data-ng-click="item.store()" data-ng-disabled="!item" >store</button>
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field">Agents: {{recipe.agents.length}}</div>
            <div class="list">
                <div>
                    <div class="field" data-ng-repeat="item in recipe.agents | orderBy:getComponentName">
                        <button data-ng-click="item.view()">view</button>
                        <button data-ng-click="item.store()" data-ng-disabled="!item" >store</button>
                        {{item.name}}
                    </div>
                </div>
            </div>
        </div>
        <div class="block" style="width: 700px">
            <div class="field">Results:</div>
            <div class="list">
                <div>
                    <div class="field" data-ng-repeat="item in recipe.results">
                        <button data-ng-click="item.item.view()">view</button>
                        <button data-ng-click="item.item.store()" data-ng-disabled="!item" >store</button>
                        <div class="column" style="width: 200px">{{item.name}}</div>
                        <div class="column" style="width: 20px">{{item.count}}</div>
                        <div class="column" style="width: 20px">{{item.quality}}</div>
                        <div class="column" style="width: 20px">{{item.difficulty}}</div>
                        <div class="column" style="width: 70px">{{item.filter1.name}}</div>
                        <div class="column" style="width: 70px">{{item.filter2.name}}</div>
                        <div class="column" style="width: 70px">{{item.filter3.name}}</div>
                        <div class="column" style="width: 70px">{{item.filter4.name}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
