<div class="specie-item">
    <button class="store" data-ng-click="store()">+</button>
    <a class="column field" style="width: 180px" href="javascript: void(0)" data-ng-click="view()">{{element.name}}</a>
    <span class="column field" style="width: 50px" >{{item.multiplier}}x</span>
    <span class="column field" style="width: 50px" >{{item.chance}}%</span>
    <span class="column field" style="width: 50px" >C:{{item.count}}</span>
    <span class="column field" style="width: 50px" >D:{{item.difficulty}}</span>
    <span class="column field" style="width: 50px" >G:{{item.grade}}</span>
</div>