<div class="components">
    <div class="header">
        <div class="field">Components: {{elements.length}}</div>
        <button class="store" data-ng-disabled="!selected" data-ng-click="store()">+</button>
        <select data-ng-model="selected" data-ng-options="element.name for element in elements"></select>
        <input data-ng-model="search" placeholder="filter" />
    </div>
    <div style="height:65px">
        <div class="field">ID: {{selected.id}}</div>
        <div class="field">Name: {{selected.name}}</div>
        <div class="field">Description: {{selected.description}}</div>
    </div>
    <div class="panel">
        <div class="block">
            <div class="field">Items: {{selected.items.length}}</div>
            <div class="list">
                <div>
                    <div data-ng-repeat="id in selected.items">
                        <div class="field" data-component-item data-id="id"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field">Ingredient Of: {{selected.ingredientOf.length}}</div>
            <div class="list">
                <div>
                    <div data-ng-repeat="id in selected.ingredientOf">
                        <div class="field" data-component-ingredientof data-id="id"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block">
            <div class="field">Agent Of: {{selected.agentsOf.length}}</div>
            <div class="list">
                <div>
                    <div data-ng-repeat="id in selected.agentOf">
                        <div class="field" data-component-agentof data-id="id"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
