<div class="recipe-result">
    <div class="column" data-recipe-result-item data-type="element.type" data-id="element.id"></div>
    <div class="column" style="width: 15px">{{element.count}}</div>
    <div class="column" style="width: 15px">{{element.quality}}</div>
    <div class="column" style="width: 15px">{{element.difficulty}}</div>
    <div class="column filter" data-recipe-result-filter data-id="element.filter1"></div>
    <div class="column filter" data-recipe-result-filter data-id="element.filter2"></div>
    <div class="column filter" data-recipe-result-filter data-id="element.filter3"></div>
    <div class="column filter" data-recipe-result-filter data-id="element.filter4"></div>
</div>